* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: coral;
}

#cabecalho {
    background: rgb(255, 239, 11);
    text-align: center;
    padding: 15px;
    border: 2px solid red;
    margin-bottom: 5px;
}

#arealogo,
#areamenu {
    padding: 10px;
}

#areaprincipal {
    width: 920px;
    margin: 0 auto;
}

#areapostagens {
    width: 660px;
    float: left;
    background: white;
}

#arealateral {
    width: 240px;
    float: right;
    background: white;
}

.branco {
    color: white;
}

a {
    color: rgb(153, 149, 149);
}

a:hover {
    color: rgb(255, 255, 255);
    background: rgb(82, 29, 82);
}

a {
    text-decoration: none;
}

#rodape {
    background: yellowgreen;
    clear: both;
    text-align: center;
}